<!DOCTYPE html>
<html>
<head>
<title>Starter</title>
<link rel="stylesheet" href="../src/bower_components/siimple/dist/siimple.min.css">
</head>
<body>
  {% block body %}{% endblock %}

</body>
</html>
