<!DOCTYPE html>
<html>
<head>
<title>Slim Starter pack</title>
<link rel="stylesheet" type="text/css" href="{{base_url()}}/assets/css/bootstrap.min.css">
</head>
<body>
  {% include 'layout/partiels/header.twig' %}
  {% block body %}{% endblock %}
<script src="{{base_url()}}/assets/js/jquery-3.1.1.min.js"></script>
<script src="{{base_url()}}/assets/js/bootstrap.min.js"></script>
</body>
</html>
